@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
  font-family: 'Baloo Chettan 2', cursive !important;
}

.fas{
  color:rgb(52, 206, 211)
}
.rangeslider-horizontal .rangeslider__fill {
  background-color:rgb(52, 206, 211) !important;
}
._loading_overlay_spinner{
  color:rgb(52, 206, 211)

}